#benefit {
  height: auto;
  width: 100vw;

  .benefit-header {
    text-align: center;
    font-size: 70px;
    font-weight: 600px;
    @include text-color;
    letter-spacing: 2px;
    padding-top: 5vh;
  }

  .benefit-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 40px;

    .card {
      border-radius: 30px;
      height: 300px;
      width: 220px;
      margin: 20px;
      padding: 40px 30px;
      background: $back-ground;
      @include neumorphism;
      display: inline-block;
      text-align: center;

      &:hover{
        box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
  0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -5px -5px 10px 0px #fff9,
  inset -4px -4px 4px 0px #fff9, inset 5px 5px 10px 0px #0003,
  inset 4px 4px 4px 0px #0001;
      }


      .card-image {
        display: block;
        margin: auto;
        height: 100px;
        width: 100px;
      }

      .card-header {
        font-size: 48px;
        font-weight: 600;
        @include text-color;
        text-align: center;
        margin: 20px 10px;
        letter-spacing: 3px;
      }

      ul {
        li {
          font-size: 20px;
          color: #818a89;
          text-align: left;
          width: auto;
          margin-top: 10px;
          margin-left: 30px;
        }
      }
    }
  }
}
