#footer {
  position: relative;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;

  a {
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
    color: lightcoral;
    padding: 15px;
    @include neumorphism;
  }
}
