$dark-color: rgba(163, 177, 198, 0.5);
$light-color: rgba(255, 255, 255, 0.5);
$back-ground: #f1f3f6;

@mixin neumorphism {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
}
@mixin inner-neumorphism {
  box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -7px -7px 20px 0px #fff9,
    inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #0003,
    inset 4px 4px 5px 0px #0001;
}

@import "./home";
@import "./navBar";
@import "./benefit";
@import "./about-us";

::-webkit-scrollbar {
  width: 0;
  height: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f3f6;
}
